.inp-text{background-color: rgb(36, 43, 79);float: right;
transform: translate(-30%,160%);right: 0px;display: block;border-radius: 6px;}
.center-v{margin: auto 0px auto 10px;}
textarea{width: 90%;height: 70%;margin: 2% 5% 0%;resize: none;border: 0px;outline: none;background: none;
font-family: sans-serif;color: white;font-size: 20px;}
.buttons-ok{width: 120px;height: 30px;border: 3px solid white;outline: none;color: white;
    background: none;border-radius: 12px;float: right;cursor: pointer;margin: 10px;}
.buttons-ok:hover{
    transition: 0.6s ease-in;border-color: aliceblue;opacity: 0.2;
}